FILEDATE_SRC='exif'
FILENAME_FORMAT='Y-m-d_His'
IMAGE_DRIVER="imagick"
IMAGE_FONT="/Library/Fonts/Arial.ttf"
IMAGE_FONTSIZE_DATE=26
IMAGE_FONTSIZE_TIME=40
IMAGE_DATE_FORMAT="d.m.Y"
IMAGE_TIME_FORMAT="H:i:s"
IMAGE_NO_LOGO=0
IMAGE_LOGO="logo.png"
IMAGE_LOGO_HEIGHT=200
IMAGE_LOGO_OPACITY=40
IMAGE_JPEG_QUALITY=90
IMAGE_ROTATE=1
IMAGE_ROTATE_SKIP=0
VIDEO_FORMAT="hevc"
VIDEO_FRAMERATE=25
CRF_HEVC=30
CRF_x264=25
PATH_SRC="images-src"
PATH_IMG="tmp-processed"
PATH_SEQ="tmp-sequence"
PATH_VIDEO="video"
KEEP_TMP_PROCESSED=0
KEEP_TMP_SEQUENCE=0